<nav class="wrapper site-nav">
	{# @feedback there is a red = sign but I can't figure out why #}
	<button id="js-nav-trigger" type="button" aria-controls="js-site-nav" aria-expanded="false" class="u-button-reset site-nav__trigger">
		<span aria-hidden="true" class="menu-icon">
			<div class="menu-icon__line"></div>
			<div class="menu-icon__line"></div>
			<div class="menu-icon__line"></div>
		</span>
		<p class="u-brandOrange u-marginNone"> Menu </p>
		{# @feedback the menu keeps hanging off of the nav and I can not seem to position it #}
	</button>
	<ul id="js-site-nav" class="u-list-reset site-nav__list" aria-hidden="false" data-visible="false">
		{# <li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">Home </a></li> #}
		{% for nav in collections.nav %}

		<li class="site-nav__list-item {% if (page.url==nav.url) %}is-active{% endif %}"> <a href="{{ nav.url }}" class="u-block site-nav__link">
				{{ nav.data.title }} </a> </li>
		{% endfor %}


		{# @feedback - I am having trouble positioning the links on the desktop view, I tried creating a class for the link
		and then appling it both to the li and then the a but neither seemed to work. #}
	</ul>

</nav>
