//general grid for the social media
.grid--socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width:800px) {

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
        grid-template-rows: 3em 2fr 1fr;

        .h2--callToAction,
        form {
            grid-column: 1/2;
        }

        form {
            grid-row: 2 / span 2;

            input[type=submit] {

                height: auto;
            }
        }

        >.p--contactInfo,

        >section {

            grid-column: 2/3;
        }

        >.p--contactInfo {

            grid-row: 2 / span 2;
            margin: 0;
        }

    }

    .desktop-social {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}
